
#radio > p {
	max-width: 90%;
	font-size: 1.2em;
	margin: 2em;
}

form{ 
	ul {
		display: inline-block;

		li {
			width: 25%;
			float: left;
			padding-left: 9%;
			box-sizing: border-box;
			
			&:hover{
				color: $hoverColor;
			}
		}
	}
}