
#rotative{
	position: relative;
	text-align: center;
	overflow: hidden;
	
	>* {
		position: absolute;
		width: 100%;
	}
	
	>img {
		position: static;
		height: 56vw;
		max-height: 650px;
	}

	h1 {
	    top: 30%;
	}
	
	p{
	    top: 40%;
	    font-size: 1.5em;
		max-width: 60%;
	}
	
	#BRBx2 {
	    top: 55%;
	
		a {
		    border: 1.5px solid;
		    border-radius: 3em;
		    padding: 1.5em 3em;
		    margin: 0.5em;
			transition: all $transitionTime;
		}
	}
	
	.controls {
		bottom: -3.5vw;
		
		a {
		    padding: 2%;
		    font-size: 4em;
			vertical-align: 1em;
			cursor: pointer;
		}			
		
		img {
			width: 20vw;
			max-width: 240px;
			height: 10vw;
			max-height: 125px;
			transition: all $transitionTime;
			
			&:hover {
				transform: translate(0, -3.3vw);
			}
		}
	}
}