
#rotative{
	position: relative;
	text-align: center;
	overflow: hidden;
	
	>* {
		position: absolute;
		width: 100%;
	}
	
	>img {
		position: static;
		height: 56vw;
		max-height: 650px;
	}

	h1 {
	   bottom:65%;
	   min-bottom: 7.5em;
	}
	
	p{
	    bottom: 54%;
	    font-size: 1.5em;
		width: 700px;
		max-width: 90%;
	}
	
	#BRBx2 {
	    top: 55%;
	
		a {
		    border: 1.5px solid;
		    border-radius: 3em;
		    padding: 2% 3em;
		    margin: 0.5em;
			transition: all $transitionTime;
		}
	}
	
	.controls {
		bottom: -3.5vw;
		
		a {
		    padding: 2%;
		    font-size: 5vw;
			vertical-align: 4.5vw;
			cursor: pointer;
		}			
		
		img {
			width: 20vw;
			max-width: 240px;
			height: 10vw;
			max-height: 125px;
			transition: all $transitionTime;
			
			&:hover {
				transform: translate(0, -3.3vw);
			}
		}
	}
	
	.reserve a {
		font-size:8em;
		width: 25%;
		bottom: 0;
		position: absolute;
	
		&:nth-child(1){
			left: 0;
		}
		&:nth-child(2){
			right: 0;
		}
	}
	
	.reserve {
		display: none;
	}
}