@CHARSET "UTF-8";
body {
  color: white;
  background-color: #222222; }

a, p, button {
  color: white;
  text-decoration: none; }

a:hover, button:hover {
  color: red;
  cursor: pointer; }

#container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto; }

h1 {
  color: white;
  font-weight: bold !important;
  font-size: 2.5em !important;
  /*reset.css sometimes suck */ }

.blurred {
  opacity: .6; }

/* variables and global level scss */
header {
  width: 100%;
  max-width: 1170px;
  position: fixed;
  z-index: 29;
  background-color: #222222;
  height: 4.5em; }
  header h1 {
    position: absolute;
    top: 0.5em;
    padding-left: 10%; }
  header span {
    display: none !important;
    font-size: 2em !important; }
  header #search {
    position: absolute;
    top: 2.6em;
    width: 100%;
    z-index: 30;
    display: none; }
    header #search input {
      width: 100%; }
    header #search label {
      position: absolute;
      text-align: right;
      margin-left: -1em;
      display: inline-block;
      z-index: 55;
      color: black;
      font-size: 1.8em;
      cursor: pointer; }
  header nav {
    text-align: right;
    padding-top: 2em;
    padding-right: 10%;
    z-index: 40; }
    header nav ul {
      color: white;
      display: inline-block;
      list-style: none; }
      header nav ul li {
        float: left;
        padding-left: 2em; }
        header nav ul li a {
          font-weight: bold;
          color: grey;
          text-decoration: none; }
          header nav ul li a.active, header nav ul li a:hover {
            color: white; }

#content {
  position: relative;
  top: 4.5em;
  width: 100%; }
  #content h1 {
    text-align: center; }
  #content section {
    margin-bottom: 3em; }
    #content section > p {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0; }
  #content .brb {
    display: block;
    height: 4em;
    width: 12em;
    border: 1.5px solid;
    border-radius: 3em;
    background-color: transparent;
    margin: 1em auto 0 auto;
    transition: all 0.5s; }
  #content .brb:hover, #content #BRBx2 a:hover {
    background-color: white; }

/* common content scss - section & button rules */
/* SECOND NAVIGATION SECTION */
#content nav {
  background-color: #f73a4c; }
  #content nav ul {
    text-align: center; }
    #content nav ul li {
      display: inline-block;
      padding: 2em 1em; }
      #content nav ul li a:hover {
        color: black; }

/* content(second) navigation section */
#rotative {
  position: relative;
  text-align: center;
  overflow: hidden; }
  #rotative > * {
    position: absolute;
    width: 100%; }
  #rotative > img {
    position: static;
    height: 56vw;
    max-height: 650px; }
  #rotative h1 {
    bottom: 65%;
    min-bottom: 7.5em; }
  #rotative p {
    bottom: 54%;
    font-size: 1.5em;
    width: 700px;
    max-width: 90%; }
  #rotative #BRBx2 {
    top: 55%; }
    #rotative #BRBx2 a {
      border: 1.5px solid;
      border-radius: 3em;
      padding: 2% 3em;
      margin: 0.5em;
      transition: all 0.5s; }
  #rotative .controls {
    bottom: -3.5vw; }
    #rotative .controls a {
      padding: 2%;
      font-size: 5vw;
      vertical-align: 4.5vw;
      cursor: pointer; }
    #rotative .controls img {
      width: 20vw;
      max-width: 240px;
      height: 10vw;
      max-height: 125px;
      transition: all 0.5s; }
      #rotative .controls img:hover {
        transform: translate(0, -3.3vw); }
  #rotative .reserve a {
    font-size: 8em;
    width: 25%;
    bottom: 0;
    position: absolute; }
    #rotative .reserve a:nth-child(1) {
      left: 0; }
    #rotative .reserve a:nth-child(2) {
      right: 0; }
  #rotative .reserve {
    display: none; }

#radio > p {
  max-width: 90%;
  font-size: 1.2em;
  margin: 2em; }

form ul {
  display: inline-block; }
  form ul li {
    width: 25%;
    float: left;
    padding-left: 9%;
    box-sizing: border-box; }
    form ul li:hover {
      color: red; }

/* MOVIE COMMON SECTION */
.movie {
  display: inline-block;
  padding: 1.3em 1%;
  box-sizing: border-box; }
  .movie p {
    text-align: center; }
  .movie .name {
    padding-top: 1em;
    font-size: 1.3em;
    height: 2em;
    overflow: hidden;
    display: inline-block; }
  .movie .imagebox {
    position: relative;
    overflow: hidden; }
    .movie .imagebox > img {
      width: 100%;
      z-index: 10;
      transition: all 0.5s; }
      .movie .imagebox > img:hover {
        transform: scale(1.1); }

/* MORE MOVIES SECTION */
#content .more {
  width: 24.7%; }
  #content .more .imagebox {
    width: 100%;
    height: 33vw;
    max-height: 390px; }
    #content .more .imagebox img {
      width: 100%;
      height: 100%; }
    #content .more .imagebox .buttons {
      position: absolute;
      width: 100%;
      bottom: 0;
      z-index: 11;
      padding: .5em 0 1em 0;
      background-color: rgba(0, 0, 0, 0.7);
      text-align: center; }
      #content .more .imagebox .buttons a {
        width: 30%;
        display: inline-block; }

/* POPULAR MOVIES SECTION */
#content .popular {
  width: 16.3%; }
  #content .popular .imagebox {
    height: 14vw;
    max-height: 160px; }
  #content .popular .rating {
    display: inline-blick;
    height: 1em; }

#testimonials {
  background-color: #f73a4c;
  width: 100%;
  text-align: center; }
  #testimonials h1 {
    padding: 1.3em; }
  #testimonials .paddings {
    padding-bottom: 2em; }
  #testimonials div img {
    width: 25vw;
    max-width: 290px;
    height: 25vw;
    max-height: 290px;
    border-radius: 100%;
    overflow: hidden;
    display: inline-block; }
  #testimonials div a {
    padding: 10%;
    vertical-align: 9vw;
    font-size: 6vw;
    cursor: pointer; }
    #testimonials div a:hover {
      color: black; }
  #testimonials div div p {
    margin: 1em auto;
    font-size: 1.3em;
    max-width: 80%; }
  #testimonials div div .blurred {
    margin: -1em auto 1em auto;
    font-size: 1.1em; }

/* "MAIL US" SECTION */
form div {
  width: 47.6%;
  margin: 3em 1% 3em 1%;
  display: inline-block;
  border-bottom: 1px solid white; }
  form div input {
    width: 100%;
    background-color: transparent;
    border: none;
    color: white; }
  form div label {
    margin-bottom: 0.5em;
    position: absolute;
    cursor: text;
    transition: all 0.5s; }
form div.long {
  width: 97.7%;
  margin-top: 6em; }

@media screen and (max-width: 900px) {
  body {
    font-size: 14px !important; }

  header {
    text-align: center;
    height: 4.5em; }

  header h1 {
    width: 100%;
    padding-left: 0;
    top: 0.3; }

  header nav {
    padding-top: 3em;
    text-align: center;
    padding-right: 0; } }
@media screen and (max-width: 780px) {
  body {
    font-size: 13px !important; }

  #content .more {
    width: 33%; }
    #content .more .imagebox {
      height: 44vw; }
    #content .more .buttons {
      font-size: 1.1em; }
  #content .popular {
    width: 25%; }
    #content .popular .imagebox {
      height: 21vw; } }
@media screen and (max-width: 680px) {
  body {
    font-size: 12px !important; }

  #content nav ul li {
    font-size: 1.6em;
    width: 30%;
    padding: 1em 0; }

  #content form ul li {
    width: 33%; }

  .brb {
    height: 3.5em !important;
    width: 10em !important; }

  .reserve {
    display: block !important; }

  .controls {
    display: none; }

  form div {
    width: 100%;
    margin: 3em 0 !important; } }
@media screen and (max-width: 520px) {
  header {
    height: 8em; }
    header h1 {
      top: 2em !important; }
    header span {
      display: block !important; }
    header #search {
      display: block; }
    header nav {
      text-align: left !important;
      padding-top: 0.5em;
      padding-left: 0.5em !important;
      background-color: darkblue; }
      header nav ul {
        display: none; }
      header nav:active {
        position: absolute;
        width: 120px;
        height: 100vh; }
        header nav:active ul:target {
          display: block !important; }
          header nav:active ul:target li {
            float: none !important;
            padding: 1em 0.5em !important; }
            header nav:active ul:target li:last-child {
              display: none !important; }

  #content nav ul li {
    width: 100%; }
  #content #rotative h1 {
    bottom: 72%; }
  #content #rotative p {
    bottom: 50%; }
  #content #rotative #BRBx2 {
    top: 60%; }
  #content #rotative .reserve a {
    font-size: 6em; }
  #content .more {
    width: 50%; }
    #content .more .imagebox {
      height: 66vw; }
    #content .more .buttons {
      font-size: 1.3em; }
  #content .popular {
    width: 33%; }
    #content .popular .imagebox {
      height: 28vw; }
  #content #testimonials div {
    font-size: 1.1em; }
    #content #testimonials div img {
      width: 35vw;
      height: 35vw; }
    #content #testimonials div a {
      vertical-align: 15vw; } }
@media screen and (max-width: 380px) {
  #rotative h1 {
    bottom: 65% !important; }
  #rotative p {
    display: none; }
  #rotative #BRBx2 {
    top: 40% !important; }
    #rotative #BRBx2 a {
      display: block; }

  form ul li {
    width: 50% !important; }

  .more {
    width: 100% !important; }
    .more .imagebox {
      height: 132vw !important; }
    .more .buttons {
      font-size: 1.4em !important; }

  .popular {
    width: 50% !important; }
    .popular .imagebox {
      height: 42vw !important; } }

/*# sourceMappingURL=style.css.map */
